<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.admin.biz.mapper.PartnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.admin.api.entity.Partner">
        <id column="PARTNERID" property="partnerId" />
        <result column="PARTNER_NAME" property="partnerName" />
        <result column="COMPANY_ADDRESS" property="companyAddress" />
        <result column="COMPANY_NAME" property="companyName" />
        <result column="CONTACT_PERSON" property="contactPerson" />
        <result column="CONTACT_TYPE" property="contactType" />
        <result column="SEX" property="sex" />
        <result column="IDCART_TYPE" property="idcartType" />
        <result column="IDCART_NUMBER" property="idcartNumber" />
        <result column="ADDRESS" property="address" />
        <result column="EMAIL" property="email" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="STATUS" property="status" />
        <result column="REGISTER_MOBILE" property="registerMobile" />
        <result column="MERCHANT_PAYMENT_PATTERN" property="merchantPaymentPattern" />
        <result column="ACCNO" property="accno" />
        <result column="ACCNO_BANK" property="accnoBank" />
        <result column="PROVINCE_NO" property="provinceNo" />
        <result column="CITY_NO" property="cityNo" />
        <result column="MERCHANT_TYPE" property="merchantType" />
        <result column="MEMBER_ORIGIN" property="memberOrigin" />
        <result column="LEGAL_PERSON" property="legalPerson" />
        <result column="RECOMMEND" property="recommend" />
        <result column="AVATAR" property="avatar" />
        <result column="NICKNAME" property="nickname" />
        <result column="reviewerId" property="REVIEWER_ID" />
        <result column="reviewerName" property="REVIEWER_NAME" />
        <result column="openId" property="OPEN_ID" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PARTNERID, PARTNER_NAME, COMPANY_ADDRESS, COMPANY_NAME, CONTACT_PERSON, CONTACT_TYPE, SEX, IDCART_TYPE,
        IDCART_NUMBER, ADDRESS, EMAIL, CREATE_TIME, STATUS, REGISTER_MOBILE, MERCHANT_PAYMENT_PATTERN,
        ACCNO, ACCNO_BANK, PROVINCE_NO, CITY_NO, MERCHANT_TYPE, MEMBER_ORIGIN, LEGAL_PERSON,RECOMMEND,AVATAR,NICKNAME,reviewerId,reviewerName,openId
    </sql>



</mapper>

