<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.SysParamsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.SysParams">
        <id column="INNER_NAME" property="innerName" />
        <result column="OUTER_NAME" property="outerName" />
        <result column="VALUE" property="value" />
        <result column="TYPE" property="type" />
        <result column="STATUS" property="status" />
        <result column="MEMO" property="memo" />
        <result column="INSTANCE_ID" property="instanceId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INNER_NAME, OUTER_NAME, VALUE, TYPE, STATUS, MEMO, INSTANCE_ID
    </sql>

</mapper>
