<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuntech.saas.api.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryuntech.saas.api.model.SysRole">
        <id column="rid" property="rid" />
        <result column="rname" property="rname" />
        <result column="rdesc" property="rdesc" />
        <result column="rval" property="rval" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rid, rname, rdesc, rval, created, updated
    </sql>

</mapper>
